<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>rohith</h1>
        <h1>welcome to rohith webpage</h1>
        <p>
            Rohit Gurunath Sharma (born 30 April 1987) is an Indian international cricketer and the current captain of the Indian cricket team. Widely considered as one of the best opening batter of all time,[2] he plays as a right-handed batsman for Mumbai Indians in IPL and for Mumbai in domestic cricket. Rohit Sharma also captains Mumbai Indians in IPL and the team has won 5 tittles under his leadership, most by any team. Sharma currently holds the world record for the highest individual score (264) in a One Day International (ODI) match and is the only player to have scored three double-centuries in ODIs and also holds the record for scoring most hundreds (five) in a single Cricket World Cup, for which he won the ICC Men's ODI Cricketer of the Year award in 2019. Sharma has received two national honours, the Arjuna Award in 2015 and the prestigious Major Dhyan Chand Khel Ratna in 2020.


        </p>

        <h1><a href="{% url 'csk:msdhoni' %}">navigate to msdhoni</a></h1>
        <h1><a href="{% url 'mi:sachin' %}">navigate to sachin</a></h1>
        <h1><a href="{% url 'csk:kohli' %}">navigate to virat</a></h1>
    </center>
</body>
</html>